<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- Permissions required for osmdroid (map) and networking -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- For Android 13+ (API 33+), scoped storage is used, but including for compatibility -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@drawable/iconeduquizz"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconeduquizz"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduQuizz"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EduQuizz.Splash"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.eduquizz.features.widget.EduQuizzWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <activity
            android:name=".features.widget.WidgetConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.EduQuizz">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
